<% layout("/layouts/boilerplate") %>

    <body>

        <header>
            <div class="slidingImages">
                <div id="carouselExampleInterval carouselExampleFade" data-pause="false"
                    class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="2000">
                            <img src="https://www.naturesafariindia.com/wp-content/uploads/2023/10/Red-Fort-Lal-Quila-in-Delhi.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://images.news18.com/ibnlive/uploads/2022/01/indiagate-16430470933x2.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/1/1d/Taj_Mahal_%28Edited%29.jpeg"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://backpackersunited.in/_next/image?url=https%3A%2F%2Fbpu-images-v1.s3.eu-north-1.amazonaws.com%2Fuploads%2F1721807941803_Lonar%20Crater%20Lake%20CV%20.jpg&w=3840&q=75"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://knowindia.india.gov.in/assets/images/gallery/culture-and-heritage/10.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://fairgaze.com/images/UploadedImages/thumbs/0309134_0309134_xasdiihbb.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://media.istockphoto.com/id/542728198/vector/maharashtrian-family-showing-culture-of-maharashtra-india.jpg?s=612x612&w=0&k=20&c=yDk9bpznKIYDv2AeQ7tRoCr4zCVAH-jLVyZ2ByoYw-Q="
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://www.wandersmiles.com/wp-content/uploads/2020/08/Ajanta-Caves-View.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://www.mumbailive.com/images/media/images/raigad_1720421883955jpeg?bg=546030&crop=640%2C359.29824561403507%2C0%2Cnull&fit=crop&fitToScale=w%2C1368%2C768&fm=webp&h=768&height=360&w=1368&width=640"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://www.india-tours.com/blog/wp-content/uploads/2019/04/Culture-and-Lifestyle-in-India.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
            </div>

            <div class="headerInfo">
                <p id="p1">HERITAGE And CULTURE <br>In</p>
                <p id="p2"><b>INDIA</b></p>
                <a href="#"><button>Explore More</button>
                </a>
            </div>

        </header>

    </body>