<% layout("/layouts/boilerplate") %>

    <body>
        <header>
            <div class="headerInfo">

                <div class="headerImg">
                    <img src="media/images/indiaMap.jpg" alt="INDIA MAP">
                </div>

                <div class="headerTitle">
                    <div class="mainTitle">
                        <p id="p1">HERITAGE And CULTURE <br>In</p>
                        <p id="p2"><b>INDIA</b></p>
                        <a href="#"><button>Explore More</button>
                        </a>
                    </div>
                </div>
            </div>

        </header>
    </body>

    <%- include("../includes/footer.ejs") %>