<% layout("/layouts/boilerplate") %>

    <body>

        <header>
            <div class="slidingImages">
                <div id="carouselExampleInterval carouselExampleFade" data-pause="false"
                    class="carousel slide carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="2000">
                            <img src="https://images.news18.com/ibnlive/uploads/2022/01/indiagate-16430470933x2.jpg"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/1/1d/Taj_Mahal_%28Edited%29.jpeg"
                                class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="https://www.authenticindiatours.com/app/uploads/2022/05/10-Customs-and-Traditions-in-Indian-Culture-Jaisalmer-Desert-Festival-940x585-c-default.jpeg"
                                class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div class="headerInfo">
                <p id="p1">HERITAGE And CULTURE <br>In</p>
                <p id="p2"><b>INDIA</b></p>
                <a href="#"><button>Explore More</button>
                </a>
            </div>

        </header>

        <!-- <header>
            <div class="headerInfo">

                <div class="headerImg">
                    <img src="media/images/indiaMap.jpg" alt="INDIA MAP">
                </div>

                <div class="headerTitle">
                    <div class="mainTitle">
                        <p id="p1">HERITAGE And CULTURE <br>In</p>
                        <p id="p2"><b>INDIA</b></p>
                        <a href="#"><button>Explore More</button>
                        </a>
                    </div>
                </div>
            </div>

        </header> -->
    </body>