<footer>
    <div class="footer1">
        <div class="titleAndQuote">

            <p id="footerTitle">Explore<b>INDIA</b></p>

            <p id="footerQuote">“ is not as people keep calling it, an underdeveloped country, but rather, in
                the context of
                its history and cultural heritage, a highly developed one in an advanced state of decay.”</p>
        </div>
        <div class="footer1sub">
            <p class="footerLinksHeading">Links</p>
            <p>Blog</p>
            <p>News</p>
            <p>Events</p>
        </div>
        <div class="footer1sub">
            <p class="footerLinksHeading">Visit for More</p>
            <p>Government of India</p>
            <p>UNESCO</p>
            <p>ASI</p>
        </div>
        <div class="footer1sub">
            <p class="footerLinksHeading">Contact Us</p>
            <p><i class="fa-solid fa-phone"></i> &nbsp; +91 9322148848</p>
            <p><i class="fa-solid fa-envelope"></i> &nbsp; rajavachar59@gmail.com</p>
            <p><i class="fa-solid fa-location-dot"></i> &nbsp; Jalgaon - 425001, MH</p>
        </div>
    </div>

    <div class="footer2">
        <p>&copy; 2024 ExploreINDIA. All rights reserved.</p>
        <p>developed by #Innovators</p>
    </div>
</footer>