<div class="footer">
    <div class="footer1">
        <div>
            <h4>ExploreINDIA</h4>
            <p id="footerQuote">"INDIA is not as people keep calling it, an underdeveloped country, but rather, in the context of its
                history and cultural heritage, a highly developed one in an advanced state of decay.”</p>
        </div>
        <div>
            <h4>Links</h4>
            <ul class="links">
                <li><a href="#">Blog</a></li>
                <li><a href="#">News</a></li>
                <li><a href="#">Events</a></li>
            </ul>
        </div>
        <div>
            <h4>Visit for More</h4>
            <ul class="links">
                <li><a href="#">Government of India</a></li>
                <li><a href="#">UNESCO</a></li>
                <li><a href="#">ASI</a></li>
            </ul>
        </div>
        <div>
            <h4>Contact</h4>
            <ul class="links">
                <li><i class="fa-solid fa-phone"></i> &nbsp; +91 9322148848</li>
                <li><i class="fa-solid fa-envelope"></i> &nbsp; rajavachar59@gmail.com</li>
                <li><i class="fa-solid fa-location-dot"></i> &nbsp; Jalgaon - 425001, MH</li>
            </ul>
        </div>
    </div>

    <div class="footer2">
        <p>&copy; 2024 ExploreINDIA. All rights reserved.</p>
        <p>Developed by #Innovators</p>
    </div>
</div>