<nav class="navbar navbar-expand-md sticky-top p-0">
    <div class="container-fluid">
        <div class="navLogo ms-3">
            <a href="/">
                <img src="/media/logo/navLogo.png" alt="Logo" class="d-inline-block align-text-top">
                <p class="ms-md-3">Explore<br><b>INDIA</b></p>
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mb-2 mb-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-5  mb-2 mb-md-0">
                <li class="nav-item ms-2">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown ms-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Heritage
                    </a>
                    <ul class="dropdown-menu p-0">
                        <li><a class="dropdown-item" href="#">Historical Monuments</a></li>
                        <li><a class="dropdown-item" href="/unescoSites">UNESCO World Heritage Sites</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Ancient Temples</a></li>
                        <li><a class="dropdown-item" href="#">Forts</a></li>
                        <li><a class="dropdown-item" href="#">Natural Wonders</a></li>
                        <li><a class="dropdown-item" href="#">Historic Cities of India</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown ms-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Culture
                    </a>
                    <ul class="dropdown-menu p-0">
                        <li><a class="dropdown-item" href="/religions">Religions</a></li>
                        <li><a class="dropdown-item" href="/festivals">Festivals</a></li>
                        <li><a class="dropdown-item" href="#">Arts and Dance</a></li>
                        <li><a class="dropdown-item" href="#">Clothing</a></li>
                        <li><a class="dropdown-item" href="#">Food</a></li>
                        <li><a class="dropdown-item" href="languages">Spoken Languages</a></li>
                    </ul>
                </li>
                <li class="nav-item ms-2">
                    <a class="nav-link" href="#">States/UTs</a>
                </li>
                <li class="nav-item ms-2">
                    <a class="nav-link" href="#">About</a>
                </li>

            </ul>
            <a href="/login"><button type="button" class="btn loginBtn ms-5 me-2">Log In</button></a>

        </div>
    </div>
</nav>