<nav class="navbar navbar-expand-md sticky-top p-0">
    <div class="container-fluid">
        <div class="navLogo ms-3">
            <a href="/">
                <img src="/media/logo/navLogo.png" alt="Logo" class="d-inline-block align-text-top">
                <p class="ms-md-3">Explore<br><b>INDIA</b></p>
            </a>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mb-2 mb-md-0 mb-lg-0" id="navbarSupportedContent">
            <ul class="navbar-nav ms-5">
                <li class="nav-item ms-2">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item dropdown ms-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Heritage
                    </a>
                    <ul class="dropdown-menu p-0">
                        <li><a class="dropdown-item" href="#">Historical Monuments</a></li>
                        <li><a class="dropdown-item" href="/unescoSites">UNESCO World Heritage Sites</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Ancient Temples</a></li>
                        <li><a class="dropdown-item" href="#">Forts</a></li>
                        <li><a class="dropdown-item" href="#">Natural Wonders</a></li>
                        <li><a class="dropdown-item" href="#">Historic Cities of India</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown ms-2">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Culture
                    </a>
                    <ul class="dropdown-menu p-0">
                        <li><a class="dropdown-item" href="/religions">Religions</a></li>
                        <li><a class="dropdown-item" href="/festivals">Festivals</a></li>
                        <li><a class="dropdown-item" href="#">Arts and Dance</a></li>
                        <li><a class="dropdown-item" href="#">Clothing</a></li>
                        <li><a class="dropdown-item" href="#">Food</a></li>
                        <li><a class="dropdown-item" href="languages">Spoken Languages</a></li>
                    </ul>
                </li>
                <li class="nav-item ms-2">
                    <a class="nav-link" href="#">States/UTs</a>
                </li>
                <li class="nav-item ms-2">
                    <a class="nav-link" href="#">About</a>
                </li>

                <div class="dropdown ms-lg-5 mt-3 mt-md-0 me-4 userOptions align-content-center">
                    <a href="#" data-bs-toggle="dropdown" aria-expanded="false" class="d-flex dropdown-toggle align-items-center">
                        <i class="fa-solid fa-circle-user fs-1 ms-2"></i>
                        <% if(user) { %>
                            <p class="ms-2 mb-0 align-content-center me-1"> <b>Hello, <%= user.username %></b> </p>
                            <% } %>

                                <% if(!user) { %>
                                    <p class="ms-2 mb-0 align-content-center me-1"> <b>Account</b> </p>
                                    <% } %>
                    </a>

                    <ul class="dropdown-menu dropdown-menu-end pt-1 pb-1">
                        <% if(user) { %>
                            <li><a class="dropdown-item ps-3 pe-1" href="/profile">My Profile</a></li>
                            <li>
                                <hr class="dropdown-divider m-1">
                            </li>
                            <li><a class="dropdown-item ps-3 pe-1" href="/logout">Logout</a></li>
                            <% } %>

                                <% if(!user) { %>
                                    <li><a class="dropdown-item ps-3 pe-1" href="/login">Login</a></li>
                                    <li><a class="dropdown-item ps-3 pe-1" href="/signup">Signup</a></li>
                                    <% } %>
                    </ul>
                </div>

            </ul>

        </div>

    </div>
</nav>