.map iframe {
    height: 70vh;
    width: 60%;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 1rem #000000;
}

.map {
    text-align: center;
}

#mainHeading {
    margin: 2rem;
    background-color: burlywood;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.siteNames {
    margin: 5rem 3rem;
    border: 2px solid black;
    border-radius: 2rem;
    height: 50rem;
    display: flex;
    padding: 1rem;
    gap: 2rem;
}

.siteNames div {
    border: 1px solid navy;
    flex-grow: 1;
}

/* Show Unesco Site */

.mainTitle {
    color: navy;
    margin: 2rem 3rem;
}

.maindiv {
    margin: 2rem 3rem;
}

.Content {
    margin: 2rem 1rem;
}

.siteInfo {
    display: flex;
    gap: 5rem;
    margin-top: 1rem;
}
.image img {
    border-radius: 1rem;
}
.description {
    text-align: justify;
}
.generalInfo {
    margin-top: 3rem;
    padding: 0 2rem;
}
.country {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.country h5 {
    margin: 0;
}