/* Unesco World Heritage Sites */

.map iframe {
    height: 70vh;
    width: 60%;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 1rem #000000;
}

.map {
    text-align: center;
}

#mainHeading {
    margin: 2rem;
    background-color: burlywood;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.siteNames {
    margin: 3rem 5rem;
    /* border: 2px solid black; */
    border-radius: 1rem;
    display: flex;
    padding: 3rem 1rem;
    background-color: whitesmoke;
    box-shadow: 0.5rem 0.5rem 1rem black;

}

.siteNames div {
    flex-grow: 1;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    padding: 0 2rem;
}

.siteNames h4 {
    text-align: center;
    color: navy;
    font-weight: bold;
}

.siteNames a:hover {
    color: navy;
}

.siteNames li {
    transition: 0.5s;
    font-weight: 500;
    line-height: 1.5rem;
}

.siteNames li:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

#mixed {
    margin-top: 3rem;
}

/* Show Unesco Site */

.mainTitle {
    color: navy;
    margin: 2rem 3rem;
}

.maindiv {
    margin: 2rem 4rem;
}

.Content {
    margin: 2rem 1rem;
}

.description {
    display: flex;
    gap: 3rem;
    margin-top: 1rem;
    text-align: justify;
}

.image img {
    border-radius: 1rem;
    border: 2px solid black;
    box-shadow: 0.3rem 0.3rem 1rem black;
}

.generalInfo {
    margin-top: 3rem;
    padding: 1rem 2rem;
    border: 1px solid gray;
    border-radius: 1rem;
    background-color: whitesmoke;

}

.country {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.country h5 {
    margin: 0;
}

.maindiv hr {
    margin: 0;
    padding: 0;
    width: 100%;
}

#tabs .nav-link {
    color: gray !important;
}

#tabs .nav-link:hover {
    color: black !important;
}

#tabs .nav-link:focus {
    color: black !important;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

#gallery img {
    border-radius: 1rem;
    animation: galleryAnimation 1s ease 0s 1 normal;
    transition: 0.5s;
    flex: 1;
    width: 20rem;
    max-width: 25rem;
    border: 1px solid black;
}

@keyframes galleryAnimation {
    from {
        margin-top: 100rem;
        opacity: 0.5;
    }

    top {
        opacity: 1;
    }
}

#gallery img:hover {
    box-shadow: 0.5rem 0.5rem 1rem black;
    transform: scale(1.1);
}

#video iframe {
    border-radius: 1rem;
    border: 2px solid black;
}




/* Media Queries */

@media (width < 992px) {
    .siteNames {
        margin: 3rem 2rem;
    }
}

@media (width <=500px) {

    #mainHeading {
        margin: 1rem 1rem 2rem 1rem;
        border-radius: 0.5rem;
    }

    .map iframe {
        height: 70vh;
        width: 90%;
        border-radius: 0.5rem;
        box-shadow: 0.5rem 0.5rem 1rem #000000;
    }

    .siteNames {
        margin: 1rem;
        flex-wrap: wrap;
        gap: 2rem;
        box-shadow: none;
    }

    .siteNames div {
        border: none;
        padding: 0;
    }

}