/* Unesco World Heritage Sites */

.map iframe {
    height: 70vh;
    width: 60%;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 1rem #000000;
}

.map {
    text-align: center;
}

#mainHeading {
    margin: 2rem;
    background-color: burlywood;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.siteNames {
    margin: 3rem 10rem;
    /* border: 2px solid black; */
    border-radius: 1rem;
    display: flex;
    padding: 3rem 1rem;
    background-color: whitesmoke;
    box-shadow: 0.5rem 0.5rem 2rem black;

}

.siteNames div {
    /* border: 1px solid navy; */
    flex-grow: 1;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    padding: 0 2rem;


}
.siteNames h4 {
    text-align: center;
    color: navy;
    font-weight: bold;
}
.siteNames a:hover {
    color: navy;
}
.siteNames li {
    transition: 0.5s;
    font-weight: 500;
    line-height: 1.5rem;
}

.siteNames li:hover {
    transform: scale(1.1);
    text-decoration: underline;
}

/* Show Unesco Site */

.mainTitle {
    color: navy;
    margin: 2rem 3rem;
}

.maindiv {
    margin: 2rem 4rem;
}

.Content {
    margin: 2rem 1rem;
}

.description {
    display: flex;
    gap: 3rem;
    margin-top: 1rem;
    text-align: justify;
}

.image img {
    border-radius: 1rem;
}

.generalInfo {
    margin-top: 3rem;
    padding: 1rem 2rem;
    border: 1px solid gainsboro;
    border-radius: 1rem;
    background-color: whitesmoke;

}

.country {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.country h5 {
    margin: 0;
}

.maindiv hr {
    margin: 0;
    padding: 0;
    width: 100%;
}

#tabs .nav-link {
    color: gray !important;
}

#tabs .nav-link:hover {
    color: black !important;
}

#tabs .nav-link:focus {
    color: black !important;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    /* justify-content: space-between; */
    /* flex: 1; */
}

#gallery img {
    border-radius: 1rem;
    animation: galleryAnimation 1s ease 0s 1 normal;
    transition: 0.5s;
}

@keyframes galleryAnimation {
    from {
        margin-top: 100rem;
        opacity: 0.5;
    }

    top {
        opacity: 1;
    }
}

#gallery img:hover {
    box-shadow: 1rem 1rem 2rem black;
    transform: scale(1.1);
}

#video iframe {
    border-radius: 1rem;
}