@media (992px <= width < 1200px) {
    .searchForm {
        display: none !important;
    }

    .navbar {
        padding: 0 30px 0 30px !important;
    }
}

@media (700px <=width < 992px) {
    .navbar {
        padding: 0 20px 0 20px !important;
    }

    #p1 {
        font-size: 2.2rem;
    }

    #p2 {
        font-size: 3.2rem;
    }

    .headerInfo button {
        font-size: 1rem;
        padding: 0.2rem 0.5rem;
    }
}

@media (500px <=width < 700px) {

    #p1 {
        font-size: 2rem;
    }

    #p2 {
        font-size: 3rem;
    }

    .headerInfo button {
        font-size: 1rem;
        padding: 0.2rem 0.5rem;
    }
    .slidingImages {
        min-width: 20rem;
    }
    .slidingImages img {
        height: 20rem;
    }
    .headerInfo {
        min-width: 20rem;
    }
}

@media (width < 500px) {
    .navbar {
        padding: 0 0 0 3px !important;
    }

    .navLogo {
        margin-left: 2px !important;
    }

    header {
        padding: 3rem 1rem;
    }
    #p1 {
        font-size: 1.5rem;
    }

    #p2 {
        font-size: 2.5rem;
    }

    .headerInfo button {
        font-size: 1rem;
        padding: 0.2rem 0.3rem;
    }
    .slidingImages {
        min-width: 15rem;
    }
    .slidingImages img {
        height: 15rem;
    }
    .headerInfo {
        min-width: 15rem;
    }
    .slidingImages img {
        border-radius: 2rem;
    }

    .footer1 {
        padding: 3rem 1rem;
        gap: 1rem;
    }
}