body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Navbar */

.navbar {
    background: linear-gradient(rgb(246, 115, 67), white, rgb(62, 249, 62));
    border-bottom: 0.5px solid black;
    width: 100%;
}

.navLogo {
    display: flex;
    align-items: center;
    justify-content: baseline;
    cursor: pointer;
}

.navLogo a {
    display: flex;
    align-items: center;
    justify-content: baseline;
    cursor: pointer;
    text-decoration: none;
}

.navLogo img {
    width: 80px;
}

.navLogo p {
    font-size: 1.3rem;
    margin: 0;
    padding: 5px 0;
    font-weight: bold;
    color: navy;
}

.nav-item a {
    color: black;
    font-size: 1rem;
}

.nav-item a:hover,
:focus {
    color: red;
    text-decoration: underline;
}

.dropdown-menu {
    background-color: whitesmoke;
}

.dropdown-menu a:hover {
    background-color: rgb(236, 235, 235);
}

.searchForm button {
    border: 3px solid green;
    border-radius: 7px;
}

.searchForm input {
    border: 2px solid green;
}

/* Header */

header {
    background-color: whitesmoke;
}

.headerInfo {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 4rem 0;
    justify-content: space-evenly;
}

.headerImg img {
    border-radius: 30px;
    width: 30rem;
    flex-grow: 1;
}

.headerTitle {
    align-content: center;
    justify-content: center;
}

.mainTitle {
    color: navy;
    text-align: center;
}

#p1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#p2 {
    font-size: 3.5rem;
    font-weight: bold;
    color: orangered;
    margin: 0;
    padding: 0;
}

.headerTitle button {
    border-radius: 10px;
    color: navy;
    margin-top: 1rem;
    font-size: 1.2rem;
    padding: 0.3rem 1rem;
    border-color: navy;
    cursor: pointer;
    text-decoration: none;
}

.headerTitle button:hover {
    color: white;
    background-color: navy;
}


/* Footer */

/* Importing Google font - Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.footer {
  background: #10182F;
  border-radius: 6px;
}
.footer h2 {
    color: whitesmoke;
}

.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
}

.footer-row .footer-col h4 {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}

.footer-col .links {
  margin-top: 20px;
}

.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}

.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}

.footer-col .links li a:hover {
  color: #fff;
}

.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width: 300px;
}

.footer-col form {
  display: flex;
  gap: 5px;
}

.footer-col input {
  height: 40px;
  border-radius: 6px;
  background: none;
  width: 100%;
  outline: none;
  border: 1px solid #7489C6 ;
  caret-color: #fff;
  color: #fff;
  padding-left: 10px;
}

.footer-col input::placeholder {
  color: #ccc;
}

 .footer-col form button {
  background: #fff;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.footer-col form button:hover {
  background: #cecccc;
}

.footer-col .icons {
  display: flex;
  margin-top: 30px;
  gap: 30px;
  cursor: pointer;
}

.footer-col .icons i {
  color: #afb6c7;
}

.footer-col .icons i:hover  {
  color: #fff;
}

@media (max-width: 768px) {
  .footer {
    position: relative;
    bottom: 0;
    left: 0;
    transform: none;
    width: 100%;
    border-radius: 0;
  }

  .footer .footer-row {
    padding: 20px;
    gap: 1rem;
  }

  .footer-col form {
    display: block;
  }

  .footer-col form :where(input, button) {
    width: 100%;
  }

  .footer-col form button {
    margin: 10px 0 0 0;
  }
}



/* Media Queries */

