body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Navbar */

.navbar {
    background: linear-gradient(rgb(246, 115, 67), white, rgb(62, 249, 62));
    border-bottom: 0.5px solid black;
    width: 100%;
}

.navLogo {
    display: flex;
    align-items: center;
    justify-content: baseline;
    cursor: pointer;
}

.navLogo a {
    display: flex;
    align-items: center;
    justify-content: baseline;
    cursor: pointer;
    text-decoration: none;
}

.navLogo img {
    width: 80px;
}

.navLogo p {
    font-size: 1.3rem;
    margin: 0;
    padding: 5px 0;
    font-weight: bold;
    color: navy;
}

.nav-item a {
    color: black;
    font-size: 17px;
}

.nav-item a:hover,
:focus {
    color: red;
}

.dropdown-menu {
    background-color: whitesmoke;
}

.dropdown-menu a:hover {
    background-color: rgb(236, 235, 235);
}

.loginBtn {
    max-width: 7rem;
}

#navbarSupportedContent {
    justify-content: flex-end !important;
}

/* Header */

header {
    margin: 0;
    padding: 5rem 3rem;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: wheat;
    clip-path: ellipse(100% 100% at 50% 0);
}

.slidingImages {
    width: 45rem;
    min-width: 35rem;
    max-width: 100%;
    flex: 1;
    box-shadow: 0.2rem 0.2rem 0.5rem black;
    border-radius: 1rem;
}

.slidingImages img {
    border-radius: 1rem;
    height: 28rem;
    border: 2px solid black;
}


.headerInfo {
    text-align: center;
    flex: 1;
    min-width: 30rem;
}

#p1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#p2 {
    font-size: 3.5rem;
    font-weight: bold;
    color: orangered;
    margin: 0;
    padding: 0;
}

.headerInfo button {
    border-radius: 10px;
    color: navy;
    margin-top: 1rem;
    font-size: 1.2rem;
    padding: 0.3rem 1rem;
    border-color: navy;
    cursor: pointer;
    text-decoration: none;
}

.headerInfo button:hover {
    color: white;
    background-color: navy;
}


/* Footer */

.footer {
    background-color: black;
    margin-top: 10rem;
}

.footer1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 3rem;
    /* background-color: black; */
}

.footer h4 {
    color: whitesmoke;
}

#footerQuote {
    max-width: 25rem;
    margin-top: 1rem;
    text-align: justify;
    color: whitesmoke;
    opacity: 0.7;
}

.footer1 .links {
    padding-left: 2px;
    margin-top: 1rem;
}

.footer1 .links li {
    list-style: none;
    color: whitesmoke;
    opacity: 0.8;
}

.footer1 .links li a {
    text-decoration: none;
    color: whitesmoke;
    opacity: 0.8;
}

.footer1 .links li a:hover {
    opacity: 1;
}

.footer2 {
    text-align: center;
    padding: 1rem;
    border-top: 1px solid white;
    background-color: black;
}

.footer2 p {
    margin: 0;
    padding: 0;
    color: white;
}

/* Other */

.nationalIdentityElements {
    padding: 3rem 0 5rem;
    margin: 3rem;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 1rem;
}

.nationalIdentityElements h2 {
    color: navy;
    font-weight: bold;
    padding: 0.5rem 0;
}

/* .elementCards {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-top: 3rem;
    flex-wrap: wrap;
} */

.elementCards {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 3rem;
    justify-items: center;
    align-items: stretch;
}

@keyframes elementsAnimation {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.elementCards .card {
    width: 15rem;
    box-shadow: 0.1rem 0.1rem 0.3rem black;
    animation: elementsAnimation 2s ease 0s 1 normal;
}

.elementCards img {
    height: 50%;
    width: 100%;
    border-bottom: 1px solid black;
}

.elementCards .card:hover {
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: 0.2rem 0.2rem 1rem black;
}


/* Media Queries */

@media (width >=1200px) {

    header {
        height: 85vh;
    }
}

@media (width <=1200px) {
    .elementCards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (700px <=width < 992px) {

    #p1 {
        font-size: 2.2rem;
    }

    #p2 {
        font-size: 3.2rem;
    }

    .headerInfo button {
        font-size: 1rem;
        padding: 0.2rem 0.5rem;
    }

    .nationalIdentityElements {
        margin: 3rem 1rem;
    }

    .elementCards {
        grid-template-columns: repeat(3, 1fr);
    }

    .elementCards .card {
        width: 12rem;
    }
}

@media (500px <=width < 700px) {

    #p1 {
        font-size: 2rem;
    }

    #p2 {
        font-size: 3rem;
    }

    .headerInfo button {
        font-size: 1rem;
        padding: 0.2rem 0.5rem;
    }

    .slidingImages {
        min-width: 20rem;
    }

    .slidingImages img {
        height: 20rem;
    }

    .headerInfo {
        min-width: 20rem;
    }

    .nationalIdentityElements {
        margin: 3rem 1rem;
    }

    .elementCards {
        grid-template-columns: repeat(2, 1fr);
    }

    .elementCards .card {
        width: 12rem;
    }
}

@media (width < 500px) {

    .navLogo {
        margin-left: 2px !important;
    }

    header {
        padding: 3rem 1rem;
    }

    #p1 {
        font-size: 1.5rem;
    }

    #p2 {
        font-size: 2.5rem;
    }

    .headerInfo button {
        font-size: 1rem;
        padding: 0.2rem 0.3rem;
    }

    .slidingImages {
        min-width: 15rem;
    }

    .slidingImages img {
        height: 15rem;
    }

    .headerInfo {
        min-width: 15rem;
    }

    .slidingImages img {
        border-radius: 1rem;
    }

    .footer1 {
        padding: 3rem 1rem;
        gap: 1rem;
    }

    .nationalIdentityElements {
        margin: 3rem 0;
    }

    .elementCards {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
    }

    .elementCards .card {
        width: 10rem;
    }
    .elementCards .card .card-body {
        padding: 0.5rem;
    }
    .elementCards .card p {
        font-size: 0.8rem;
    }
    .elementCards .card h5 {
        font-size: 1rem;
    }
}