.userBody {
    background-color: gainsboro;
}

.loginSection {
    /* border: 1px solid black; */
    width: 70%;
    height: 80vh;
    margin: 5rem auto;
    display: flex;
    background-color: white;
    box-shadow: 1px 1px 10px black;
    border-radius: 1rem;
}

.intro {
    /* clip-path: ellipse(100% 80% at 0 50%); */
    background-color: brown;
    color: whitesmoke;
    align-content: center;
}

.introtext {
    /* border: 1px solid black; */
    width: 70%;
    text-align: center;
    margin: auto;
}

.intro,
.login {
    /* border: 1px solid black; */
    flex: 1;
    padding: 3rem 2rem;
    border-radius: 1rem;
    align-content: center;
}

.login {
    background-color: white;

}

.login h2 {
    text-align: center;
    color: brown;
}

.login .form {
    width: 80%;
    /* border: 1px solid black; */
    margin: 2rem auto;
}

.login .form input {
    background-color: whitesmoke;
}

a {
    text-decoration: none;
    color: brown;
}

.login .btn {
    background-color: brown;
    color: white;
}

.text-danger {
    font-size: 13px;
    margin-top: 2px;
}



/* Profile */

.profileSection {
    /* border: 1px solid black; */
    text-align: center;
}

.profile {
    display: inline-block;
    margin: 3rem auto;
    border: 1px solid gray;
    padding: 3rem 5rem;
    box-shadow: 1px 1px 7px black;
    border-radius: 1rem;
    background-color: wheat;
}

.image {
    text-align: center;
}

.image img {
    width: 15rem;
    box-shadow: none;
    border: none;
}

.userDetails {
    text-align: center;
    margin-top: 2rem;
}

.userDetails .btn {
    color: white;
    background-color: brown;
}






/* Media Queries */

@media (width <=1200px) {
    .loginSection {
        width: 90%;
    }
}

@media (width <=768px) {

    .text-center a {
        display: block;
    }

    .intro,
    .login {
        padding: 3rem 1rem;
    }

    .form div {
        margin-bottom: 8px !important;
    }
}

@media (width <=500px) {
    .loginSection {
        flex-wrap: wrap;
        margin: 3rem auto;
        height: 100%;
    }

    .intro,
    .login {
        flex: 0;
        min-width: 100%;
    }

    .intro {
        height: 10rem;
        padding: 1rem 0 0 0;
        border-bottom-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;

    }

    .login {
        padding-top: 2rem;
    }


    /* Profile */

    .profile {
        margin: 5rem 1rem;
        padding: 1rem;
    }

    .image img {
        width: 10rem;
    }

    .userDetails {
        margin-top: 2rem;
    }

    .userDetails p {
        font-size: 1rem !important;
    }
}








/* 
.userOptions ul {
    width: 3rem !important;
} */