<% layout("/layouts/boilerplate") %>

    <body>

        <div>
            <h2>
                <%= unescosite.title %>
            </h2>

            <img src="<%=unescosite.image%>" alt="Image Error">

            <p>
                <%=unescosite.description%>
            </p>
        </div>



    </body>