<% layout("/layouts/boilerplate") %>

    <body>

        <h3 id="mainHeading">Explore Unesco World Heritage Sites in INDIA</h3>

        <div class="map">
            <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1NRlTvjkZQ4KyXsQOfG-w9hCOsSm82k0&ehbc=2E312F">
            </iframe>
        </div>

        <section id="siteNames">
            <div>
                <h4>Culture</h4>
                <% for(unescosite of unescosites) { %>
                    <li><a href="/unescoSites/<%=unescosite._id%>"> <%=unescosite.title%>,<%=unescosite._id%>
                        </a></li>
                    <% } %>
            </div>
            <div></div>
            <div></div>
        </section>

    </body>