<% layout("/layouts/boilerplate") %>

    <body>

        <section class="profile">

            <div class="mt-5 ms-5">
                <h4>Username: <%= username %>
                </h4>
                <h5>Email: <%= email %>
                </h5>
            </div>


        </section>
    </body>