<% layout("/layouts/boilerplate") %>

    <body class="aboutUsBody">

        <p class="mt-5 text-center aboutUSHeading">About Us</p>

        <section class="aboutIntroSection">

            <div class="titleAndParagraph">

                <p class="aboutUsIntroTitle">ExploreINDIA</p>
                <p class="aboutIntroParagraph">Welcome to Explore India! We are a platform dedicated to uncovering and
                    celebrating the vibrant heritage and cultural diversity of India. Our mission is to educate,
                    inspire, and connect people with the rich traditions, historical landmarks, and colorful festivals
                    that define the soul of India.</p>

            </div>

            <div class="aboutUsImg">
                <img src="https://media.istockphoto.com/id/460658387/vector/culture-of-india.jpg?s=612x612&w=0&k=20&c=NWKvGaPubyHf2fbqzhY_pOrQQhGeCKpqkBqAttS1kOM="
                    alt="India Map">
            </div>

        </section>
        <hr>
        <section class="vision-mission">

            <div class="vision-mission-info">
                <p class="vision-mission-title">Our Vison</p>
                <p>Preserving and promoting India’s cultural legacy for future generations.</p>
                <p class="vision-mission-title mt-5">Our Mission</p>
                <p>Providing authentic and insightful information about India’s historical sites, festivals, and
                    traditions.</p>

            </div>

            <div class="vision-mission-img">
                <img src="media/images/vision-mission.png" alt="Vison and Mission Image">
            </div>

        </section>

        <hr>


        <section class="contactform">
            <form class="contact-form m-auto" action="#" method="POST">
                <h2>Contact Us</h2>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="subject">Subject</label>
                    <input type="text" id="subject" name="subject" required>
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea id="message" name="message" required></textarea>
                </div>
                <button type="submit" class="submit-btn">Send Message</button>
            </form>
        </section>

    </body>