<% layout("/layouts/boilerplate") %>

    <body>

        <h3 class="mainHeading">Festivals in India</h3>

        <div class="festivals">
            <div class="religionOpt">
                <h4>Select Religion</h4>
                <a id="hinduOption"><button class="btn btn-outline-dark">Hindu Festivals</button></a><br><br>
                <a id="islamOption"><button class="btn btn-outline-dark">Islam Festivals</button></a><br><br>
                <a id="christianOption"><button class="btn btn-outline-dark">Christian Festivals</button></a><br><br>
                <a id="sikhOption"><button class="btn btn-outline-dark">Sikh Festivals</button></a><br><br>
                <a id="jainOption"><button class="btn btn-outline-dark">Jain Festivals</button></a><br><br>
                <a id="buddhistOption"><button class="btn btn-outline-dark">Buddhist Festivals</button></a><br><br>
            </div>

            <div class="content" id="hinduContent">
                <h4>Popular Hindu Festivals</h4>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://www.hinduamerican.org/wp-content/uploads/2020/10/diwali-toolkit-2020-featured-image.jpg"
                        class="card-img-top rounded-top-4" alt="Diwali">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Diwali</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://www.holifestival.org/images/Festival-of-Colours-2.jpeg"
                        class="card-img-top rounded-top-4" alt="Holi">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Holi</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://cdn.zeebiz.com/hindi/sites/default/files/2024/08/16/189570-raksha-bandhan.jpg?im=FitAndFill=(1200,900)"
                        class="card-img-top rounded-top-4" alt="Rakshabandhan">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Rakshabandhan</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://media.istockphoto.com/id/511674790/photo/shiva-linga-made-up-of-black-stone-mahashivratri.jpg?s=612x612&w=0&k=20&c=f4ipsRKVmACcWVi9CQ8yB73UmXhV75KB3x7nFA1LFVQ="
                        class="card-img-top rounded-top-4" alt="Maha Shivaratri">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Maha Shivaratri</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://images.news18.com/ibnlive/uploads/2024/10/happy-dussehra-wishes-vijayadashami-2024-dasara-5-2024-10-f020adfbb780c9b032cd001a42f10355-scaled.jpg?impolicy=website&width=0&height=0"
                        class="card-img-top rounded-top-4" alt="Dussehra">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Dussehra</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://prakati.in/wp-content/uploads/Eco-Friendly-Ganeshji-Idol-for-ganpati-chaturthi-1.jpg"
                        class="card-img-top rounded-top-4" alt="Ganesh Chaturthi">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Ganesh Chaturthi</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://images.tv9hindi.com/wp-content/uploads/2024/01/donate-these-things-on-makar-sankranti-every-wish-will-be-fulfilled.jpeg"
                        class="card-img-top rounded-top-4" alt="Makar Sankranti">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Makar Sankranti</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://images.careerindia.com/img/2022/04/ramnavami-1649412916.jpg"
                        class="card-img-top rounded-top-4" alt="Rama Navami">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Rama Navami</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://paytmblogcdn.paytm.com/wp-content/uploads/2024/10/durga-Puja.jpg"
                        class="card-img-top rounded-top-4" alt="Durga Puja">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Durga Puja</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://img.freepik.com/premium-photo/gudi-padwa-lunar-new-year-celebration-india_192745-994.jpg"
                        class="card-img-top rounded-top-4" alt="Gudi Padwa">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Gudi Padwa</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://www.prabhatkhabar.com/wp-content/uploads/2024/08/Untitled-design-27-2.png"
                        class="card-img-top rounded-top-4" alt="Naga Panchami">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Naga Panchami</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://imgeng.jagran.com/images/2024/08/25/article/image/janmashtami-2024-whatsapp-status-video-1724599516168.jpg"
                        class="card-img-top rounded-top-4" alt="Krishna Janmashtami">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Krishna Janmashtami</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://www.shutterstock.com/image-vector/garba-night-poster-navratri-dussehra-600nw-2511328385.jpghttps://www.shutterstock.com/image-vector/garba-night-poster-navratri-dussehra-600nw-2511328385.jpg"
                        class="card-img-top rounded-top-4" alt="Navratri">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Navratri</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://www.jansatta.com/wp-content/uploads/2024/10/Karwa-Chauth-Vrat-Niyam-2024-in-Hindi.jpg?w=440"
                        class="card-img-top rounded-top-4" alt="Karva Chauth">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Karva Chauth</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://mykundali.com/2017/images/hanuman-jayanti.jpg" class="card-img-top rounded-top-4"
                        alt="Hanuman Jayanti">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Hanuman Jayanti</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://pragnews.com/postimage/2024/07/1721534351RoPA3P5T.webp"
                        class="card-img-top rounded-top-4" alt="Guru Purnima">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Guru Purnima</b></p>
                    </div>
                </div>
            </div>



            <div class="content" id="islamContent" style="display: none;">
                <h4>Popular Islam Festivals</h4>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQn6SlTccuKJD-BW7nE80GuUCZSVpXMuEOylA&s"
                        class="card-img-top rounded-top-4" alt="Ramadan">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Ramadan</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://bsmedia.business-standard.com/_media/bs/img/article/2024-07/16/full/1721111504-2875.png?im=FitAndFill=(826,465)"
                        class="card-img-top rounded-top-4" alt="Muharram">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Muharram</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://www.shutterstock.com/image-vector/happy-eid-poster-background-islamic-260nw-2321138013.jpg"
                        class="card-img-top rounded-top-4" alt="Eid al-Fitr">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Eid al-Fitr</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://media.licdn.com/dms/image/D4D12AQGG3Tq3bPRCLw/article-cover_image-shrink_720_1280/0/1718443988716?e=2147483647&v=beta&t=GvLNIArWWIXKNGNMSLCkRuNn1LMdg8ULiRHIRVgAZks"
                        class="card-img-top rounded-top-4" alt="Eid al-Adha">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Eid al-Adha</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Mourning_of_Holy_Ashura_15.jpg/1200px-Mourning_of_Holy_Ashura_15.jpg"
                        class="card-img-top rounded-top-4" alt="Ashura">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Ashura</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ0-Xa7i_yix5eytx9xY6UWSaoFcprpFYnvscCB0B71g1gJzWZMqMwenfIYoSoEAZwJx1s&usqp=CAU"
                        class="card-img-top rounded-top-4" alt="Hajj">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Hajj</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Mourning_of_Holy_Ashura_15.jpg/1200px-Mourning_of_Holy_Ashura_15.jpg"
                        class="card-img-top rounded-top-4" alt="Ashura">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Ashura</b></p>
                    </div>
                </div>
            </div>
            <div class="content" id="christianContent" style="display: none;">
                <h4>Popular Christian Festivals</h4>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://www.abhibus.com/blog/wp-content/uploads/2023/12/10-Reasons-Why-We-Celebrate-Christmas-696x464.jpg"
                        class="card-img-top rounded-top-4" alt="Christmas">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Christmas</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://www.justkerala.in/wp-content/uploads/2012/12/Easter-Kerala.jpg"
                        class="card-img-top rounded-top-4" alt="Easter">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Easter</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://www.hindustantimes.com/ht-img/img/2024/03/28/1600x900/PTI03-27-2024-000225B-0_1711619292365_1711619332914.jpg"
                        class="card-img-top rounded-top-4" alt="Good Friday">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Good Friday</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://www.bec.org/wp-content/uploads/2020/05/PentecostIcon2.jpg"
                        class="card-img-top rounded-top-4" alt="Pentecost">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Pentecost</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://img.freepik.com/free-vector/flat-epiphany-festival-illustration_23-2148764690.jpg?w=360"
                        class="card-img-top rounded-top-4" alt="Epiphany">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Epiphany</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRri20Atw-EVx7N8Sp5H4CQadSATh5ra_lQbA&s"
                        class="card-img-top rounded-top-4" alt="Ascension Day">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Ascension Day</b></p>
                    </div>
                </div>
            </div>

            <div class="content" id="sikhContent" style="display: none;">
                <h4>Popular Sikh Festivals</h4>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://imgeng.jagran.com/images/2023/apr/baisakhi-2023-date1680853851195.jpg"
                        class="card-img-top rounded-top-4" alt="Vaisakhi">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Vaisakhi</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://kreately.in/wp-content/uploads/2021/11/Guru-Nanak-Dev-Ji-1.jpg"
                        class="card-img-top rounded-top-4" alt="Gurpurab">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Gurpurab</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://www.sikhnet.com/files/styles/hero-image/public/news/image/main/hola%20mahalla%20nihangs.jpg?itok=foz9aAjo"
                        class="card-img-top rounded-top-4" alt="Hola Mohalla">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Hola Mohalla</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/9b/Hindu_Devotees_Pray_To_Surya_-_Makar_Sankranti_Observance_-_Baje_Kadamtala_Ghat_-_Kolkata_2018-01-14_6877.JPG"
                        class="card-img-top rounded-top-4" alt="Maghi">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Maghi</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://assets.telegraphindia.com/telegraph/2f300bcf-5088-4cf3-b664-ab67e821dd70.jpg"
                        class="card-img-top rounded-top-4" alt="Bandi Chhor Divas">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Bandi Chhor Divas</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://organiser.org/wp-content/uploads/2023/05/2_03_36_08_guru-arjan-dev-ji_2.jpg"
                        class="card-img-top rounded-top-4" alt="Martyrdom of Guru Arjan">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Martyrdom of Guru Arjan</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://static.tnnbt.in/thumb/msid-113049802,thumbsize-214854,width-450,height-254,resizemode-75/113049802.jpg"
                        class="card-img-top rounded-top-4" alt="Pahila Prakash Sri Guru Granth Sahib Ji">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Pahila Prakash Sri Guru Granth Sahib Ji</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRIj2XV2eB5GC7_GgZI4Hc-hurdVloqIOOcTg&s"
                        class="card-img-top rounded-top-4" alt="Martyrdom of Guru Tegh Bahadur">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Martyrdom of Guru Tegh Bahadur</b></p>
                    </div>
                </div>
            </div>

            <!-- Jain Festivals -->

            <div class="content" id="jainContent" style="display: none;">
                <h4>Popular Jain Festivals</h4>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://images.indianexpress.com/2024/04/3d-rendering-buddha-statute-sunset_23-2150912157.jpg"
                        class="card-img-top rounded-top-4" alt="Mahavir Jayanti">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Mahavir Jayanti</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://static.toiimg.com/thumb/msid-113023758,width-400,resizemode-4/113023758.jpg"
                        class="card-img-top rounded-top-4" alt="Paryushana">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Paryushana</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://images.mypandit.com/myPandit_web/images/Content/Samvatsari.webp"
                        class="card-img-top rounded-top-4" alt="Samvatsari">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Samvatsari</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://akkaias.com/uploads/images/mahamastakabhisheka_photo_series.jpg"
                        class="card-img-top rounded-top-4" alt="Mahamastakabhisheka">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Mahamastakabhisheka</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://jainsite.com/wp-content/uploads/2017/10/agam-1.jpg"
                        class="card-img-top rounded-top-4" alt="Gyan Panchami">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Gyan Panchami</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBYMVWN0v6Kqmnv_lXuvpw5yusDFl9IDu6NQ&s"
                        class="card-img-top rounded-top-4" alt="Posh Dashmi">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Posh Dashmi</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://media.licdn.com/dms/image/v2/C5112AQFhOfjyxNO5_w/article-inline_image-shrink_400_744/article-inline_image-shrink_400_744/0/1554915319597?e=1735171200&v=beta&t=R6TwvzLcbJrUzUKTj34mqI_XGB0KhP0bCeJ9CcurH2k"
                        class="card-img-top rounded-top-4" alt="Navpad Oli">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Navpad Oli</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShlfhvgJiupR-hH9hfvs2EizvtM8uRvUg8q4MJ6eFq1LcS5-FG5CKM7rCIPC5bcjHMemI&usqp=CAU"
                        class="card-img-top rounded-top-4" alt="Roth Teej">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Roth Teej</b></p>
                    </div>
                </div>
            </div>

            <div class="content" id="buddhistContent" style="display: none;">
                <h4>Popular Buddhist Festivals</h4>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://media.assettype.com/freepressjournal/2023-01/4aa23ad3-b8e2-453d-9dd1-bb5bc65651fd/buddha_4264589__340.webp?width=1200"
                        class="card-img-top rounded-top-4" alt="Vesak (Buddha Purnima)">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Vesak (Buddha Purnima)</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://www.journee-mondiale.com/en/wp-content/uploads/2024/07/journee-mondiale.com-96.jpg"
                        class="card-img-top rounded-top-4" alt="Asalha Puja (Dharma Day)">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Asalha Puja (Dharma Day)</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://www.thailandfoundation.or.th/wp-content/uploads/2022/02/Picture4.png"
                        class="card-img-top rounded-top-4" alt="Magha Puja">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Magha Puja</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://www.nriol.com/images/upo3.jpg"
                        class="card-img-top rounded-top-4" alt="Uposatha">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Uposatha</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://i0.wp.com/www.tusktravel.com/blog/wp-content/uploads/2021/02/Losar-Festival-Ladakh.jpg?fit=1024%2C683&ssl=1"
                        class="card-img-top rounded-top-4" alt="Losar">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Losar</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://buddhaweekly.com/wp-content/uploads/Buddha-Weekly-Paranirvana-Day-Buddhism.jpg"
                        class="card-img-top rounded-top-4" alt="Parinirvana Day">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Parinirvana Day</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/62/Abhisit_offer_Kathina_robes.jpg/1200px-Abhisit_offer_Kathina_robes.jpg"
                        class="card-img-top rounded-top-4" alt="Kathina">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Kathina</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://www.holidaysmart.com/sites/default/files/holidays/images/Buddhism-Abhidhamma-cv.jpg"
                        class="card-img-top rounded-top-4" alt="Abhidhamma Day">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Abhidhamma Day</b></p>
                    </div>
                </div>
            </div>
        </div>


        <script>
            $("#hinduOption").click(function () {
                $(".content").hide();
                $("#hinduContent").show();
            });
            $("#islamOption").click(function () {
                $(".content").hide();
                $("#islamContent").show();
            });
            $("#christianOption").click(function () {
                $(".content").hide();
                $("#christianContent").show();
            });
            $("#sikhOption").click(function () {
                $(".content").hide();
                $("#sikhContent").show();
            });
            $("#jainOption").click(function () {
                $(".content").hide();
                $("#jainContent").show();
            });
            $("#buddhistOption").click(function () {
                $(".content").hide();
                $("#buddhistContent").show();
            });
        </script>


    </body>