<% layout("/layouts/boilerplate") %>

    <body>

        <h3 class="mainHeading">Festivals in India</h3>

        <div class="festivals">
            <div class="religionOpt">
                <h5>Select Religion</h5>
                <a id="hinduOption">Hindu Festivals</a><br><br>
                <a id="islamOption">Islam Festivals</a><br><br>
                <a id="christanOption">Christan Festivals</a><br><br>
            </div>

            <div class="content" id="hinduContent">
                <h4>Popular Indian Festivals</h4>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://www.hinduamerican.org/wp-content/uploads/2020/10/diwali-toolkit-2020-featured-image.jpg"
                        class="card-img-top rounded-top-4" alt="Diwali">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Diwali</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://www.holifestival.org/images/Festival-of-Colours-2.jpeg"
                        class="card-img-top rounded-top-4" alt="Holi">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Holi</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://cdn.zeebiz.com/hindi/sites/default/files/2024/08/16/189570-raksha-bandhan.jpg?im=FitAndFill=(1200,900)"
                        class="card-img-top rounded-top-4" alt="Rakshabandhan">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Rakshabandhan</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://media.istockphoto.com/id/511674790/photo/shiva-linga-made-up-of-black-stone-mahashivratri.jpg?s=612x612&w=0&k=20&c=f4ipsRKVmACcWVi9CQ8yB73UmXhV75KB3x7nFA1LFVQ="
                        class="card-img-top rounded-top-4" alt="Maha Shivaratri">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Maha Shivaratri</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://images.news18.com/ibnlive/uploads/2024/10/happy-dussehra-wishes-vijayadashami-2024-dasara-5-2024-10-f020adfbb780c9b032cd001a42f10355-scaled.jpg?impolicy=website&width=0&height=0"
                        class="card-img-top rounded-top-4" alt="Dussehra">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Dussehra</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://prakati.in/wp-content/uploads/Eco-Friendly-Ganeshji-Idol-for-ganpati-chaturthi-1.jpg"
                        class="card-img-top rounded-top-4" alt="Ganesh Chaturthi">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Ganesh Chaturthi</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://images.tv9hindi.com/wp-content/uploads/2024/01/donate-these-things-on-makar-sankranti-every-wish-will-be-fulfilled.jpeg"
                        class="card-img-top rounded-top-4" alt="Makar Sankranti">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Makar Sankranti</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://images.careerindia.com/img/2022/04/ramnavami-1649412916.jpg"
                        class="card-img-top rounded-top-4" alt="Rama Navami">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Rama Navami</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://paytmblogcdn.paytm.com/wp-content/uploads/2024/10/durga-Puja.jpg"
                        class="card-img-top rounded-top-4" alt="Durga Puja">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Durga Puja</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://img.freepik.com/premium-photo/gudi-padwa-lunar-new-year-celebration-india_192745-994.jpg"
                        class="card-img-top rounded-top-4" alt="Gudi Padwa">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Gudi Padwa</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://www.prabhatkhabar.com/wp-content/uploads/2024/08/Untitled-design-27-2.png"
                        class="card-img-top rounded-top-4" alt="Naga Panchami">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Naga Panchami</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://imgeng.jagran.com/images/2024/08/25/article/image/janmashtami-2024-whatsapp-status-video-1724599516168.jpg"
                        class="card-img-top rounded-top-4" alt="Krishna Janmashtami">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Krishna Janmashtami</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://www.shutterstock.com/image-vector/garba-night-poster-navratri-dussehra-600nw-2511328385.jpghttps://www.shutterstock.com/image-vector/garba-night-poster-navratri-dussehra-600nw-2511328385.jpg"
                        class="card-img-top rounded-top-4" alt="Navratri">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Navratri</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://www.jansatta.com/wp-content/uploads/2024/10/Karwa-Chauth-Vrat-Niyam-2024-in-Hindi.jpg?w=440"
                        class="card-img-top rounded-top-4" alt="Karva Chauth">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Karva Chauth</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://mykundali.com/2017/images/hanuman-jayanti.jpg"
                        class="card-img-top rounded-top-4" alt="Hanuman Jayanti">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Hanuman Jayanti</b></p>
                    </div>
                </div>
                <div class="card border-2 border-dark rounded-4">
                    <img src="https://pragnews.com/postimage/2024/07/1721534351RoPA3P5T.webp"
                        class="card-img-top rounded-top-4" alt="Guru Purnima">
                    <div class="card-body p-0 text-center">
                        <p class="card-text"><b>Guru Purnima</b></p>
                    </div>
                </div>
            </div>



            <div class="content" id="islamContent" style="display: none;">
                <p>Islam</p>
            </div>
            <div class="content" id="christanContent" style="display: none;">
                <p>Christan</p>
            </div>
        </div>





        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
            $("#hinduOption").click(function () {
                $(".content").hide();
                $("#hinduContent").show();
            });
            $("#islamOption").click(function () {
                $(".content").hide();
                $("#islamContent").show();
            });
            $("#christanOption").click(function () {
                $(".content").hide();
                $("#christanContent").show();
            });
        </script>


    </body>