<% layout("/layouts/boilerplate") %>

    <body>


    
            <h1 class="languagesHeading">Languages in India</h1>

        <main class="languageSection">
            <div class="language-grid">
                <div class="language-card">
                    <h3>Hindi</h3>
                    <p>Primarily spoken in: Uttar Pradesh, Bihar, Madhya Pradesh, Rajasthan, Haryana, Himachal Pradesh,
                        Uttarakhand, Jharkhand, Chhattisgarh, Delhi</p>
                </div>
                <div class="language-card">
                    <h3>Bengali</h3>
                    <p>Primarily spoken in: West Bengal, Tripura</p>
                </div>
                <div class="language-card">
                    <h3>Telugu</h3>
                    <p>Primarily spoken in: Andhra Pradesh, Telangana</p>
                </div>
                <div class="language-card">
                    <h3>Marathi</h3>
                    <p>Primarily spoken in: Maharashtra, Goa</p>
                </div>
                <div class="language-card">
                    <h3>Tamil</h3>
                    <p>Primarily spoken in: Tamil Nadu, Puducherry</p>
                </div>
                <div class="language-card">
                    <h3>Urdu</h3>
                    <p>Primarily spoken in: Jammu and Kashmir, Uttar Pradesh, Bihar, Telangana</p>
                </div>
                <div class="language-card">
                    <h3>Gujarati</h3>
                    <p>Primarily spoken in: Gujarat, Dadra and Nagar Haveli, Daman and Diu</p>
                </div>
                <div class="language-card">
                    <h3>Kannada</h3>
                    <p>Primarily spoken in: Karnataka</p>
                </div>
                <div class="language-card">
                    <h3>Odia</h3>
                    <p>Primarily spoken in: Odisha</p>
                </div>
                <div class="language-card">
                    <h3>Malayalam</h3>
                    <p>Primarily spoken in: Kerala, Lakshadweep</p>
                </div>
                <div class="language-card">
                    <h3>Punjabi</h3>
                    <p>Primarily spoken in: Punjab, Haryana, Delhi</p>
                </div>
                <div class="language-card">
                    <h3>Assamese</h3>
                    <p>Primarily spoken in: Assam</p>
                </div>
            </div>
        </main>
    </body>