<% layout("/layouts/boilerplate") %>

    <body>
        <h3 class="mainHeading">Religions in INDIA</h3>

        <div class="religion">
            <h4>Hinduism</h4>
            <div class="religionInfo">
                <div class="religionImg">
                    <img src="https://resize.indiatvnews.com/en/resize/oldbucket/1200_-/mainnational/Know-about-the-21382.jpg"
                        alt="HinduismImage">
                </div>
                <p>Hinduism, one of the world’s oldest religions, originated in the Indian subcontinent and is a diverse
                    and complex faith with a rich tapestry of beliefs, practices, and traditions. It is often considered
                    more a way of life than a strict belief system, with core tenets centered around concepts like
                    Dharma (duty/ethics), Karma (action and consequence), and Moksha (liberation from the cycle of
                    rebirth). Hinduism encompasses a wide array of deities, philosophies, and rituals, which vary
                    significantly across different regions and communities. The religion is deeply rooted in sacred
                    texts like the Vedas, Upanishads, Bhagavad Gita, and the epics Ramayana and Mahabharata, which
                    provide spiritual guidance and moral teachings. Hinduism places emphasis on inner spirituality, the
                    pursuit of truth, and reverence for nature, often guiding practitioners towards a path of harmony,
                    respect, and balance in life.</p>
            </div>
        </div>

        <hr>

        <div class="religion">
            <h4>Islam</h4>
            <div class="religionInfo">
                <div class="religionImg">
                    <img src="https://lh4.googleusercontent.com/proxy/LP_9rVPttE-eRWSrImrezhqQpyJ4r5QKcKRMzlSqSMvXguX3gdNQKFgKfOLKi57WvDvqWSQUFllVX8kUVghrh2yZHyxVnuogm80"
                        alt="IslamImage">
                </div>
                <p>Islam is a monotheistic religion founded in the 7th century CE in the Arabian Peninsula, based on the
                    teachings of the Prophet Muhammad, who is regarded as the final messenger of God, or Allah. The core
                    of Islamic belief centers on the Five Pillars: Shahada (faith), Salat (prayer), Zakat (charity),
                    Sawm (fasting during Ramadan), and Hajj (pilgrimage to Mecca). Muslims follow the Quran, the holy
                    book revealed to Muhammad, which provides spiritual guidance, moral teachings, and legal principles.
                    Islam emphasizes submission to Allah, compassion, social justice, and the pursuit of righteousness.
                    The faith has a rich spiritual and intellectual tradition and is practiced by over a billion people
                    worldwide, forming a diverse and global community.</p>
            </div>
        </div>

        <hr>

        <div class="religion">
            <h4>Christianity</h4>
            <div class="religionInfo">
                <div class="religionImg">
                    <img src="https://media.istockphoto.com/id/1331574354/photo/closeup-of-simple-wooden-christian-cross-necklace-on-old-bible-christian-background-with-copy.jpg?s=612x612&w=0&k=20&c=__6PAPz144l9WJCwDszf00SbUz-dEn36s9u-94LZJEU="
                        alt="ChristianityImage">
                </div>
                <p>Christianity is a monotheistic religion based on the life and teachings of Jesus Christ, who is
                    regarded as the Son of God and the savior of humanity. Originating in the 1st century CE in the
                    region of Judea, Christianity is founded on the belief in Jesus’s life, death, and resurrection,
                    which Christians view as a path to salvation and eternal life. The religion’s sacred text, the
                    Bible, comprises the Old and New Testaments, with the Gospels chronicling Jesus's life and teachings
                    as the central focus of the New Testament. Key tenets of Christianity include love, compassion,
                    forgiveness, and faith in God. The religion emphasizes following Jesus’s example and spreading his
                    message of love and redemption. Today, Christianity is one of the world’s largest religions,
                    practiced by diverse denominations and communities around the globe.</p>
            </div>
        </div>

        <hr>

        <div class="religion">
            <h4>Sikhism</h4>
            <div class="religionInfo">
                <div class="religionImg">
                    <img src="https://mysticalbee.com/wp-content/uploads/2017/10/Sikhism.jpg" alt="SikhismImage">
                </div>
                <p>Sikhism is a monotheistic religion that originated in the Punjab region of India in the late 15th
                    century, founded by Guru Nanak Dev Ji and further developed by a succession of nine Sikh Gurus.
                    Sikhism emphasizes devotion to one God, known as Waheguru, and promotes values like equality, social
                    justice, honest living, and selfless service. The Sikh scripture, Guru Granth Sahib, is considered
                    the eternal Guru and contains the teachings of Sikh Gurus along with contributions from various
                    saints and spiritual leaders. Sikhs strive to practice humility, compassion, and dedication to both
                    spiritual and worldly responsibilities, aspiring to live in harmony with God's will. The religion
                    rejects caste distinctions and rituals, advocating instead for a direct and personal connection with
                    the divine. Sikhism has a strong cultural identity, symbolized by the Five Ks and the commitment to
                    the community through charitable acts, known as Seva.</p>
            </div>
        </div>

        <hr>

        <div class="religion">
            <h4>Jainism</h4>
            <div class="religionInfo">
                <div class="religionImg">
                    <img src="https://lh4.googleusercontent.com/proxy/pfovykQ4vada6vOyX9KOhS3bh5qXJ7ZDJqWTRzXPRDRF89wkvPPehzgaH7qSpbiHLB-lDcnimZM_p9yLUBFTNQH9mKBC8M66hgucD0h8GMa3qmk8DB_pcvD1q2NwDwcWuLTzrm8GEHmXe9Lq7ZfZj64LJyiq3wf8lx5bGQ"
                        alt="JainismImage">
                </div>
                <p>
                    Jainism is an ancient Indian religion rooted in principles of nonviolence (ahimsa), truth, and
                    asceticism, traditionally traced back to the teachings of Lord Mahavira, the 24th Tirthankara, who
                    lived in the 6th century BCE. Jainism teaches a path of spiritual development and self-discipline,
                    aiming for liberation (moksha) from the cycle of rebirth through strict ethical practices and
                    detachment from material possessions. Jains follow a code of conduct based on nonviolence toward all
                    living beings, truthfulness, non-stealing, chastity, and non-possessiveness. Key scriptures include
                    the Agamas, which contain the teachings of Mahavira and other Tirthankaras. Jainism emphasizes
                    personal responsibility, meditation, and the development of wisdom, with a lifestyle that seeks to
                    minimize harm to all forms of life. The religion is known for its rigorous commitment to nonviolence
                    and its influence on Indian philosophy, culture, and ethics.</p>
            </div>
        </div>

        <hr>

        <div class="religion">
            <h4>Buddhism</h4>
            <div class="religionInfo">
                <div class="religionImg">
                    <img src="https://religionworld.s3.amazonaws.com/uploads/2017/07/1935510523teachings-of-buddha-3.jpeg"
                        alt="Buddhism">
                </div>
                <p>Buddhism is a non-theistic religion and philosophy founded by Siddhartha Gautama, known as the
                    Buddha, in the 5th century BCE in ancient India. It centers on the Four Noble Truths, which explain
                    the nature of suffering and the path to overcoming it, and the Eightfold Path, which provides a
                    guide for ethical and mental development. Buddhists seek enlightenment, or Nirvana, which is freedom
                    from the cycle of birth, death, and rebirth (samsara). Core principles of Buddhism include
                    compassion, mindfulness, and the impermanence of all things. Key scriptures like the Tripitaka (Pali
                    Canon) and Mahayana Sutras offer teachings that guide followers in meditation, morality, and wisdom.
                    Buddhism has developed into several branches, including Theravada, Mahayana, and Vajrayana, each
                    with unique practices but all emphasizing inner transformation and the pursuit of spiritual peace
                    and understanding. Today, Buddhism is practiced widely across Asia and has influenced cultures and
                    spiritual practices worldwide.</p>
            </div>
        </div>

        <hr>
    </body>